/********** Common CSS Starts **********/  
* {
    margin:0px;
    padding:0px;
}
html, body {
    font-family :robot, sans-serif, arial;
    font-size: 14px;
    color: #5279ed;
}
.image{
    float: left;
}
.imagess{
    float: right;
}
.container {
    width: 1510px;
    margin:0px auto;
}
.main-section {
    width: 100%;
    float: left;
    padding:50px 0px 40px 0px;
}
.heading {
    font-size: 28px;
    font-weight: 600;
    border-bottom: 0.1px solid #0d0710;
    margin-bottom:60px;
    color:#a64d79;
}
/********** Common CSS Ends **********/
/********** Logo CSS Starts **********/  
.logo {
    width:10%;
}

/********** Logo CSS Ends **********/
/********** Main Menu CSS Starts **********/  
nav {
    width: 100%;
    float: left;
    background:#7a1cac;
    padding:15px 0px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #ffc3c3;
    padding:2px 20px;
}
/********** Main Menu CSS Ends **********/
/********** Slider CSS Starts **********/  
.slider img {
    width:100%;
}
/********** Slider CSS Ends **********/
/********** News, Event, Notice Board CSS Starts **********/  
.event {
    width: 31%;
    margin-right: 1%;
    float: left;
}
.event div {
    padding:10px;
    background-color: #f5f1f1;
}
.event ul li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
/********** News, Event, Notice Board CSS Ends **********/
/********** About Us CSS Starts **********/  
.about-us img {
    width:24%;
    float:left;
}
.about-us div {
    width:70%;
    margin-left:20px;
    float:left;
    line-height:35px;
}
/********** About Us CSS Ends **********/
/********** Testimonial CSS Starts **********/  
.testimonial {
    width: 380px;
    float: left;
    margin-right:10px;
}
.testimonial-text {
    background: #f0f3fa;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
}
.testimonial-detail {
    float:left;
    margin-top:10px;
}
.testimonial-img {
    float:left;
}
.testimonial-img img {
    border-radius:50%;
}
.testimonial-name {
    margin-left:10px;
    float:left;
}
.testimonial-name h5 {
    font-size:18px;
    margin-top:8px;
}
/********** Testimonial CSS Ends **********/
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
/********** Gallery CSS Starts **********/  
.gallery img {
    width: 24%;
}
/********** Gallery CSS Ends **********/
.si{
    height:10%;
    width: 10%;
    padding: auto;
}
/********** Placement CSS Starts **********/  
.placement img {
    border:1px solid #dfdfdf;
}
/********** Placement CSS Ends **********/
/********** Footer CSS Starts **********/  
.footer {
    background-color:#7e3be1;
    padding:70px 0px;
    width:100%;
    float:left;
}
.footer-sect {
    width:33%;
    float:left;
}
.footer-sect h2 {
    color:#fff;
    margin-bottom: 20px;
}
.footer-sect p {
    color: #fff;
    line-height: 22px;
    padding:0px 30px 20px 0px;
}
.footer-menu li {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.footer-menu li a {
    color:#fff;
    text-decoration: none;
}
.footer-contact li {
    margin-bottom:15px;
    list-style: none;
    color: #fff;
}
/********** Footer CSS Ends **********/